{% block body %}
        <h1> AJOUTER UNE RUCHE </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <input type="button" name="quitter" id="quitter" value="Fermer" onclick="window.close();" />

{% endblock %}

{% block stylesheets %}
    <style>
        /*body { background-image: image() ; }*/

    </style>
{% endblock %}