{% extends 'base.html.twig' %}

{% block body %}
    <div class="apiculteurpage">
        <p>Page apiculteur</p>

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        /*body { background-image: image() ; }*/

    </style>
{% endblock %}