{% block body %}

    <h2> Ajouter une intervention : </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
    <style>
        /*body { background-image: image() ; }*/

    </style>
{% endblock %}