{% block body %}

    <h2> Liste intervention </h2>

<table border="1">
    <thead>
    <tr>
        <th>Date</th>
        <th>Intervention</th>

    </tr>
    </thead>

    <tbody>
    {% for intervention in liste_intervention %}
        <tr>
            <td>{{ intervention.date|date("d/m/Y") }}</td>
            <td>{{ intervention.texte }}</td>
        </tr>
    {% else %}
        <tr><td colspan="8">Aucune intervention</td></tr>
    {% endfor %}
    </tbody>
</table>

    <button> <a href="intervention" style="font-size: 12px">
            Ajouter intervention
        </a> </button>

{% endblock %}

{% block stylesheets %}
    <style>
        /*body { background-image: image() ; }*/

    </style>
{% endblock %}