<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scable=no">
        <title>{% block title %}Home{% endblock %}</title>

            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <a class="navbar-brand" href="/web/app_dev.php">Apiculteur</a>
                    <a class="navbar-brand" href="/web/app_dev.php/login">Compte</a>
            </div>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
