{% extends 'base.html.twig' %}

{% block body %}
    </br>
    <table border="1">
        <tr>
            <th>Nom Ruche</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>

    </table>

{% endblock %}

{% block stylesheets %}
<style>
    table{
        margin:auto;
        border-color:yellow;
    }

</style>
{% endblock %}
