{% extends 'base.html.twig' %}



{% block body %}
    </br>

    <table border="1">
        <thead>
            <tr>
                <th>Nom Ruche</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>
                    <a target="_blank" href="app_dev.php/ajoutruche" onclick="window.open(this.href, 'Titre','target=_parent, height=350, width=550, top=200, ' +
                    'left=200, color=black, toolbar=no, menubar=no, location=no, resizable=no, scrollbars=no, status=no'); return false" style="font-size: 20px">+</a>
                </th>
            </tr>
        </thead>

        <tbody>
        {% for ruche in liste_ruche %}
            <tr>
                <td>{{ ruche.nomRuche }}</td>
                <td>{{ ruche.latitude }}</td>
                <td>{{ ruche.longitude }}</td>
                <td></td>
            </tr>
        {% else %}
            <tr><td colspan="8">Aucune rencontre trouvée...</td></tr>
        {% endfor %}
        </tbody>



    </table>


        {% endblock %}


{% block stylesheets %}
<style>
    table{
        margin:auto;
        border-color:yellow;
    }

</style>
{% endblock %}
